<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aplikacjakurierska">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Manager.ManagerDostarczonePaczkiInfo"></activity>
        <activity android:name=".Manager.ManagerDostarczonePaczki" />
        <activity android:name=".Manager.ZwroconePaczkiInfo" />
        <activity android:name=".Manager.ZwroconePaczki" />
        <activity android:name=".user.UserPrzypisaneInfo" />
        <activity android:name=".Kurier.KurierOdrzuconeZlyAdresInfo" />
        <activity android:name=".Kurier.KurierOdrzuconeZlyAdres" />
        <activity android:name=".Kurier.KurierNieodebraneInfo" />
        <activity android:name=".Kurier.KurierNieodebrane" />
        <activity android:name=".Kurier.KurierOdrzucona" />
        <activity android:name=".Kurier.OdebranePaczki" />
        <activity android:name=".Kurier.OdbierzPaczki" />
        <activity android:name=".Kurier.KurierPackActivity" />
        <activity android:name=".Kurier.SprawdzPrzesylkiInfo" />
        <activity android:name=".Kurier.SprawdzPrzesylki" />
        <activity android:name=".Admin.MagazynInfo" />
        <activity android:name=".Admin.SprawdzMagazyn" />
        <activity android:name=".Admin.DodajMagazyn" />
        <activity android:name=".user.PackUserInfo" />
        <activity android:name=".Manager.PackInfo" />
        <activity android:name=".Manager.SprawdzPaczki" />
        <activity android:name=".Manager.DodajPacz" />
        <activity android:name=".Admin.UserInfo" />
        <activity android:name=".Admin.DodawanieManagera" />
        <activity android:name=".Manager.ManagerActivity" />
        <activity android:name=".login.Reset" />
        <activity android:name=".login.Rejestracja" />
        <activity android:name=".Kurier.KurierActivity" />
        <activity android:name=".Admin.AdminActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".login.Login"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>